#Item Entity Configuration
#Wed Mar 18 12:51:22 SGT 2026
allow_list=
collect_radius=3
deny_list=minecraft\:diamond_block,minecraft\:diamond
max_number_of_items_per_type=32
max_number_of_items_per_world=128
max_stack_size=64
move_position_to_last_drop=false
verification_cycle=64
